<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groceryapp"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.intent.RECEIVE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/shoplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shoplogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.WriteReviewActivity" />
        <activity android:name=".activity.ShopReviewActivity" />
        <activity android:name=".activity.OrderDetailsShopActivity" />
        <activity android:name=".activity.OrderDetailsBuyerActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity
            android:name=".activity.ShopDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.EditProductActivity" />
        <activity android:name=".activity.AddProductActivity" />
        <activity android:name=".activity.ProfileEditSellerActivity" />
        <activity android:name=".activity.ProfileEditBuyerActivity" />
        <activity
            android:name=".activity.MainBuyerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MainSellerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.RegisterBuyerActivity" />
        <activity android:name=".activity.RegisterSellerActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- register service to allow to run in background -->
        <service
            android:name=".MyFirebaseMessaging"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>